<div class="footer">
    <div class="rechtliches">
        <a routerLink="impressum">Impressum</a>
        <a routerLink="datenschutz">Datenschutz</a>
    </div>


    <div class="links">
        <a href="https://www.linkedin.com/in/anil-cokbilir-bb3771164/"><img src="./assets/img/linkedin.png"></a>
        <a href="https://github.com/AnilCokbilir"><img src="./assets/img/github-fill.png"></a>
        <a href="https://www.xing.com/profile/Anil_Cokbilir/cv"><img src="./assets/img/xing.png"></a>
    </div>
</div>