<div id="about" class="container1">
    <div class="left-container">
        <h1> Hallo, <br> ich bin
            <font color="#ff4242">Anil</font> Cokbilir <br> Front End Entwickler</h1>
        <a href="#contact"><button>Kontaktiere mich</button></a>
    </div>

    <div class="right-container">
        <img src="./assets/img/smallBewerbungsfoto.png" alt="" srcset="">
    </div>


</div>
<div class="arrow">
    <a href="#section1"><img src="./assets/img/arrow.png"></a>
</div>

<app-myskills></app-myskills>
<app-mywork></app-mywork>
<app-me></app-me>
<app-contact></app-contact>