.datenschutz {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    background-color: black;
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
    h4 {
        color: white;
    }
    p {
        color: white;
    }
    li {
        color: white;
    }
}