<div class="caption">
    <h1>Kontaktiere mich.</h1>
    <p class="gray">Kontaktieren Sie mich über das untenstehende Formular oder per E-Mail:
        <a href="mailto:anil-27@hotmail.de">
            <font color="#2dfcd8">anil-27@hotmail.de</font>
        </a>
    </p>

    <div id="contact" class="contacform">
        <form target="_blank" action="http://anil-cokbilir.deinekarrierefabrik.de/send_mail.php" method="POST">

            <div class="form-validation">
                <p>Name</p>
                <input type="text" name="name" placeholder="Name eingeben">
            </div>
            <div class="form-validation">
                <p>Email Adresse</p>
                <input type="text" name="email" placeholder="Email eingeben" required>
            </div>
            <div class="form-validation">
                <p>Ihre Nachricht</p>
                <textarea name="message" cols="30" rows="10" placeholder="Geben Sie Ihre Nachricht ein" required></textarea>
            </div>
            <button class="button" id="send" type="submit">Senden</button>
        </form>
    </div>
</div>