header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 16px;
    background-color: black;
    img {
        height: 60px;
        width: 60px;
    }
    a {
        text-decoration: none;
        color: white;
        margin-left: 32px;
        font-size: 20px;
        &:hover {
            color: #ff4242;
        }
    }
}