<header>
    <a href="#home"><img src="./assets/img/logo.png"></a>

    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#me">Über mich</a>
        <a href="#mywork">Mein Portfolio</a>
    </div>


    <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
    </mat-menu> -->

</header>