<div class="newsection">
    <div class="flex">
        <img src="./assets/img/Anil.png">

        <div class="right">
            <h2>Über mich.</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio animi deserunt eligendi est, mollitia consequuntur ea quam, dolores beatae ut quae rerum enim fuga vero cumque. Eaque perspiciatis alias laborum!</p>
        </div>

    </div>
    <hr color="#2dfcd8">

    <div class="flex1">
        <div class="content1">
            <img src="./assets/img/walk.png" alt="" srcset="">
            <h4>MY JOURNEY BEGAN</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In libero quam modi natus aliquam accusamus assumenda at quis recusandae</p>
        </div>

        <div class="content1">
            <img src="./assets/img/heart.png" alt="" srcset="">
            <h4>MY JOURNEY BEGAN</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In libero quam modi natus aliquam accusamus assumenda at quis recusandae</p>
        </div>

        <div class="content1">
            <img src="./assets/img/search.png" alt="" srcset="">
            <h4>MY JOURNEY BEGAN</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In libero quam modi natus aliquam accusamus assumenda at quis recusandae</p>
        </div>

        <div class="content1">
            <img src="./assets/img/flight.png" alt="" srcset="">
            <h4>MY JOURNEY BEGAN</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In libero quam modi natus aliquam accusamus assumenda at quis recusandae</p>
        </div>
    </div>


</div>