<div id="me" class="newsection">
    <div class="flex">
        <img src="./assets/img/Anil2.jpg">

        <div class="right">
            <h2>Über mich.</h2>
            <p>Hallo, ich heiße Anil Cokbilir und bin 25 Jahre alt. Vor einigen Jahren, habe ich meine Ausbildung zum IT-Systemkaufmann, erfolgreich abgeschlossen. Dort kam ich, das erste mal, in Kontakt mit dem programmieren. Nach meiner Berufsausbildung
                holte ich das Fach-Abitur nach. Infolgedessen, fing ich an der Hochschule München an Mechatronik zu studieren. Neben dem Studium brachte ich mir durch Tutorials im Internet die Front-End Entwicklung mit HTML,CSS und Javascript bei. In
                der Zeit, habe ich gemerkt, dass mir das Programmieren, viel mehr Spaß macht als mein Mechatronik Studium. Deshalb suchte ich mir Proffessionelle Hilfe, um mich gezielt als Frontend Developer weiter zu bilden.</p>
        </div>

    </div>
    <hr color="#2dfcd8">

    <div class="flex1">
        <div class="content1">
            <img src="./assets/img/walk.png" alt="" srcset="">
            <h4>MEINE REISE BEGANN</h4>
            <p>als ich während meinem Studiums anfing, mir selbst, dass programmieren per Internet Tutorials, bei zu bringen.</p>
        </div>

        <div class="content1">
            <img src="./assets/img/heart.png" alt="" srcset="">
            <h4>MIT DER ZEIT</h4>
            <p>wurde ich besser und besser. Um mich noch effizienter weiter zu entwickeln, suchte ich nach echten Projekten, die ich dann auf Ebay-Kleinanzeigen gefunden habe.</p>
        </div>

        <div class="content1">
            <img src="./assets/img/search.png" alt="" srcset="">
            <h4>DEVELOPER AKADEMIE</h4>
            <p>durch die Videos der Developer Akademie auf Youtube, bin ich aufmerksam darauf geworden, dass der beste Einstieg in die Programmierwelt mit der Front-End Entwicklung zu realisieren ist.</p>
        </div>

        <div class="content1">
            <img src="./assets/img/flight.png" alt="" srcset="">
            <h4>PROFESSIONELLE HILFE</h4>
            <p>so entschied ich mich, mich bei der Developer Akademie zu bewerben. Nun bin ich durch mit dem Kurs und habe gelernt, Projekte selbstständig und auch in Gruppen zu lösen. Jetzt freue ich mich auf den nächsten großen Schritt in meiner Karriere.</p>
        </div>
    </div>


</div>