<div id="mywork" class="section3">
    <h2>Meine Projekte</h2>

    <div class="buttons">
        <a href="#"><button>Alle</button></a>
        <a href="#"><button>Angular</button></a>
        <a href="#"><button>Javascript</button></a>
    </div>

    <div class="pictures">

        <div class="rel" *ngFor="let project of projects; let i = index;">
            <img src="{{project.img}}">
            <div class="hover">
                <h4>{{project.name}}</h4>
                <p>{{project.type}}</p>
                <a href="{{project.url}}"><button>Bring mich hin!</button></a>
            </div>
        </div>


    </div>



</div>